

<p> Search for a flickr user (and some of their photos) using their ID:</p>

<%= form_tag("/", method: "get") do %>
  <%= text_field_tag(:id) %>
  <%= submit_tag("Search") %>
<% end %>

<br><br>



<hr>

<!-- need to add a cache feature to speed up photo load -->
<% @photo_url_array.each do |p_url| %>

    <%= image_tag(p_url) %><br><br>

<% end %>





